body{
    background: khaki;
}

.input {
    margin-left: 2%;
    padding: 1%;
    max-width: 15%;
}

.submitButton {
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}


#resetButton {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#introduction {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.verticalDiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.horizontalDiv {
    display: flex;
    flex-direction: row;
    background-color: green;
    margin: 1px;
    padding: 10px;
}