#introduction {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}


.verticalDiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.horizontalDiv {
    display: flex;
    flex-direction: row;
    background-color: green;
    margin: 1px;
    padding: 13px;
}